<header class="bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark no-gutters">
      <div class="col-3 text-left">
        <a href="/">
          <img src="/images/logo1.png" height="50" alt="image-logo">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse-2"
        aria-controls="navbarNav7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-collapse-2 justify-content-center col-md-6" id="navbarNav7">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Features</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="/images/user-avatar.jpg" alt="user-avatar" class="user-avatar">
              Dashboard
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/courses/create">Create Courses</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/me/stored/courses">My Courses</a>
              <a class="dropdown-item" href="/me/stored/blogs">My Blogs</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>